In [13]:
import pandas as pd
import numpy as np

In [14]:
# https://www.kaggle.com/datasets/saurabhbagchi/books-dataset/code
df = pd.read_csv('books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')
df.head()

C:\Users\bujowskis\AppData\Local\Temp\ipykernel_11088\1134886502.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [15]:
df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [16]:
df.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], inplace=True)
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [17]:
df.rename(
    columns={
        'ISBN': 'isbn',
        'Book-Title': 'book_title',
        'Book-Author': 'book_author',
        'Year-Of-Publication': 'year_of_publication',
        'Publisher': 'publisher'
    },
    inplace=True
)
df.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271360 non-null  object
 1   book_title           271360 non-null  object
 2   book_author          271358 non-null  object
 3   year_of_publication  271360 non-null  object
 4   publisher            271358 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [19]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271356 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271356 non-null  object
 1   book_title           271356 non-null  object
 2   book_author          271356 non-null  object
 3   year_of_publication  271356 non-null  object
 4   publisher            271356 non-null  object
dtypes: object(5)
memory usage: 12.4+ MB

In [20]:
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271356 entries, 0 to 271355
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                271356 non-null  int64
 1   isbn                 271356 non-null  object
 2   book_title           271356 non-null  object
 3   book_author          271356 non-null  object
 4   year_of_publication  271356 non-null  object
 5   publisher            271356 non-null  object
dtypes: int64(1), object(5)
memory usage: 12.4+ MB

In [21]:
# randomize if book is borrowed
#   -1  -> not borrowed
#   uid -> borrowed
df['borrower_id'] = -1

borrowed_books_number = int(len(df) * 0.5)
borrowed_books_idxs = np.random.choice(df.index, size=borrowed_books_number)
df.loc[borrowed_books_idxs, 'borrower_id'] = np.random.randint(1, 10_000, size=borrowed_books_number)

df.head(10)

,index,isbn,book_title,book_author,year_of_publication,publisher,borrower_id
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,-1
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,-1
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,-1
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,-1
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,-1
5,5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,317
6,6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,-1
7,7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,5424
8,8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,-1
9,9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,4250

In [22]:
df.columns

Index(['index', 'isbn', 'book_title', 'book_author', 'year_of_publication',
       'publisher', 'borrower_id'],
      dtype='object')

In [23]:
df.drop(columns=['index'], inplace=True)
df.head()

,isbn,book_title,book_author,year_of_publication,publisher,borrower_id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,-1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,-1
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,-1
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,-1
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,-1

In [25]:
df

,isbn,book_title,book_author,year_of_publication,publisher,borrower_id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,-1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,-1
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,-1
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,-1
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,-1
...,...,...,...,...,...,...
271351,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),-1
271352,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,7135
271353,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,-1
271354,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,2876
271355,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,-1

In [29]:
rows_with_incorrect_year = df[df['year_of_publication'] == 'DK Publishing Inc']
print(rows_with_incorrect_year)

              isbn                                         book_title  \
209534  078946697X  DK Readers: Creating the X-Men, How It All Beg...
221674  0789466953  DK Readers: Creating the X-Men, How Comic Book...

       book_author year_of_publication  \
209534        2000   DK Publishing Inc
221674        2000   DK Publishing Inc

                                                publisher  borrower_id
209534  http://images.amazon.com/images/P/078946697X.0...           -1
221674  http://images.amazon.com/images/P/0789466953.0...           -1

In [35]:
df = df[~df['year_of_publication'].isin(
    ['DK Publishing Inc', 'Gallimard']  # problematic ones; messed up data
)]
print(rows_with_incorrect_year)

Empty DataFrame
Columns: [isbn, book_title, book_author, year_of_publication, publisher, borrower_id]
Index: []

In [37]:
# df['isbn'] = df['isbn'].astype(int)  # can't because of '074322678X'
df['year_of_publication'] = df['year_of_publication'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271353 entries, 0 to 271355
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271353 non-null  object
 1   book_title           271353 non-null  object
 2   book_author          271353 non-null  object
 3   year_of_publication  271353 non-null  int64
 4   publisher            271353 non-null  object
 5   borrower_id          271353 non-null  int64
dtypes: int64(2), object(4)
memory usage: 14.5+ MB

In [38]:
df.to_csv('./dataset.csv', index=False)