In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')
df.head()

C:\Users\bujowskis\AppData\Local\Temp\ipykernel_24056\1134886502.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('books.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [9]:
df.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], inplace=True)
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [11]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271356 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271356 non-null  object
 1   Book-Title           271356 non-null  object
 2   Book-Author          271356 non-null  object
 3   Year-Of-Publication  271356 non-null  object
 4   Publisher            271356 non-null  object
dtypes: object(5)
memory usage: 12.4+ MB

In [12]:
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271356 entries, 0 to 271355
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                271356 non-null  int64
 1   ISBN                 271356 non-null  object
 2   Book-Title           271356 non-null  object
 3   Book-Author          271356 non-null  object
 4   Year-Of-Publication  271356 non-null  object
 5   Publisher            271356 non-null  object
dtypes: int64(1), object(5)
memory usage: 12.4+ MB

In [13]:
# randomize if book is borrowed
#   -1  -> not borrowed
#   uid -> borrowed
df['borrower_id'] = -1

borrowed_books_number = int(len(df) * 0.5)
borrowed_books_idxs = np.random.choice(df.index, size=borrowed_books_number)
df.loc[borrowed_books_idxs, 'borrower_id'] = np.random.randint(1, 10_000, size=borrowed_books_number)

df.head(10)

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,borrower_id
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,-1
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,6115
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,-1
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,4277
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,1786
5,5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,6859
6,6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,-1
7,7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,-1
8,8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,5950
9,9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,1726

In [17]:
df.columns

Index(['index', 'ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher', 'borrower_id'],
      dtype='object')

In [18]:
df.drop(columns=['index'], inplace=True)
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,borrower_id
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,-1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,6115
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,-1
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,4277
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,1786

In [19]:
df.to_csv('./dataset.csv', index=False)